body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d6f04a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #ffffff;
}

.container {
  background-color: #a9cf38;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0 0 10px;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-weight: 300;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

.alphabet button {
  background-color: #ffffff;
  color: #333333;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.alphabet button:hover {
  background-color: #dddddd;
}

.alphabet button:disabled {
  background-color: #888888;
  color: #ffffff;
  cursor: not-allowed;
}

#word {
  font-size: 1.8rem;
  letter-spacing: 0.2em;
  margin: 20px 0;
  text-transform: uppercase;
}

#lives {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#clue-container {
  background-color: #ffffff;
  color: #333333;
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
  max-width: 80%;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.actions button {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.actions button:hover {
  background-color: #88aa30;
  color: #ffffff;
}

.actions button:disabled {
  background-color: #888888;
  color: #ffffff;
  cursor: not-allowed;
}

#hangman-drawing {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Центрирање на канвасот */
}

#hangmanCanvas {
  border: 2px solid #333333;
  display: block;
  margin: 0 auto;
}
